<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shieldwen.firs_code">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="菜道"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".demo3.demo3_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/tab_menu_channel2" />

        <activity android:name=".demo2.demo2_main" />

        <activity android:name=".demo4.demo4_zhiwen" />
        <activity android:name=".demo1.demo1_main" />
        <activity android:name=".demo1.demo1_menu" />
        <activity android:name=".null_Null" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107994822" />
            </intent-filter>
        </activity>
        <activity android:name=".demo1.demo1_menu_list" />
        <activity android:name=".demo5_sqlite.demo5_sqlite" />

        <meta-data
            android:name="Mob-AppKey"
            android:value="2900f96439cd8" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="beae04cc125cbd8b547b06fecfa7d288" />

        <activity android:name=".demo7_otheractivity.demo7_mainActivity" />
        <activity android:name=".demo7_otheractivity.demo7_collect" />
        <activity android:name=".demo7_otheractivity.demo7_history" />
        <activity android:name=".demo7_otheractivity.demo7_menu" />
        <activity android:name=".demo7_otheractivity.demo7_order" />
        <activity android:name=".demo7_otheractivity.demo7_contact" />
        <activity android:name=".demo5_sqlite.demo5_User" />
        <activity android:name=".demo5_sqlite.demo5_Menu" />
        <activity android:name=".demo2.demo2_fragment3_fabu" />
        <activity android:name=".demo7_otheractivity.demo7_gengxing" />
        <activity android:name=".demo7_otheractivity.demo7_setting" />
        <activity android:name=".demo5_sqlite.demo5_mycollect" />
        <activity android:name=".demo8_tomacat_jsp.demo8_tomacat" />
        <activity android:name=".demo7_otheractivity.demo7_main_setting" />
        <activity android:name=".demo9_login.demo9_login" />
        <activity android:name=".demo9_login.demo9_register" />
    </application>

</manifest>